goworld
chunks/
profiling/
.vscode/
.idea/*
.DS_Store
TODO.md
__debug_bin
*.test

# temproarily ignore models
assets/models/

# ignore screenshots etc
/*.png

Goworld.app/Contents/Resources/
Goworld.app/Contents/MacOS/
Goworld.app/Contents/Frameworks/

assets/maps/
